h2{
    text-align: center;
    font-style: serif;
   
    
}
.P1, .P2, .P3{
    font-size: Large;
    color: rgb(0, 0, 0);
    
}
*{
    background-image: url('ganesh.jpg');
    background-size: cover;
}

