h3{
    font-style: oblique;
    color: aqua;
    
}
#ADS{
    text-align: center;
    background-image: url('aadibg.jpg');
    background-size: cover;
    
}
#DJS{
    text-align: center;
    background-image: url('dj.jpg');
    background-size: cover;
}
div p{
   color: #e25d31;
   
}
#main{
    color: rgb(255, 168, 68);
    background-color: black;
    font-size: large;
    color: white;
}

